db/master.db
config/database.yml
cert/*
!cert/.blank
cert.pem
key.pem
.DS_Store
*.swp
*.swo
config/agent_config.json
control/outfiles/*
!control/outfiles/.blank
control/hashes/*
!control/hashes/.blank
control/cracked/*
!control/cracked/.blank
control/analysis/*
!control/analysis/.blank
control/status/*
!control/status/.blank
control/wordlists/*
!control/wordlists/.blank
!control/wordlists/password.gz
control/tmp/*
!control/tmp/.blank
cudaHashcat.log
*.pot
*.restore
*.idea
dump.rdb
