db/master.db
config/database.yml
cert/*
!cert/.blank
.DS_Store
*.swp
*.swo
config/agent_config.json
control/outfiles/*
!control/outfiles/.blank
control/hashes/*
!control/hashes/.blank
control/analysis/*
!control/analysis/.blank
control/status/*
!control/status/.blank
control/wordlists/*
!control/wordlists/.blank
!control/wordlists/password.gz
control/tmp/*
!control/tmp/.blank
control/rules/*
!control/rules/best64.rule
!control/rules/combinator.rule
!control/rules/d3ad0ne.rule
!control/rules/d3adhob0.rule
!control/rules/dive.rule
!control/rules/generated.rule
!control/rules/generated2.rule
!control/rules/HighUtil.rule
!control/rules/hob064.rule
!control/rules/Incisive-leetspeak.rule
!control/rules/InsidePro-HashManager.rule
!control/rules/InsidePro-PasswordsPro.rule
!control/rules/leetspeak.rule
!control/rules/LowUtil.rule
!control/rules/Ninja-leetspeak.rule
!control/rules/oscommerce.rule
!control/rules/rockyou-30000.rule
!control/rules/specific.rule
!control/rules/T0XlC.rule
!control/rules/T0XlC-insert_00-99_1950-2050_toprules_0_F.rule
!control/rules/T0XlC-insert_space_and_special_0_F.rule
!control/rules/T0XlC-insert_top_100_passwords_1_G.rule
!control/rules/T0XlCv1.rule
!control/rules/toggles1.rule
!control/rules/toggles2.rule
!control/rules/toggles3.rule
!control/rules/toggles4.rule
!control/rules/toggles5.rule
!control/rules/.blank
logs/*.log
!logs/.blank
logs/jobs/*
!logs/jobs/.blank
*.pot
*.restore
*.idea
dump.rdb
