db/master.db
config/database.yml
cert/*
!cert/.blank
cert.pem
key.pem
tmp/*
.DS_Store
*.swp
*.swo
control/outfiles/*
!control/outfiles/.blank
control/hashes/*
!control/hashes/.blank
control/cracked/*
!control/cracked/.blank
control/analysis/*
!control/analysis/.blank
control/status/*
!control/status/.blank
control/wordlists/wordlist-*
control/wordlists/crackstation.txt
!control/wordlists/.blank
cudaHashcat.log
*.pot
*.restore
Gemfile.lock
control/wordlists/password
