!!!
%html
  %body
    .span15
      .container
        .col-md-12
          .row
            .page-header
              %h1
                Accounts
            .row
              .col-md-10.pull-left
                These are awesome people that use Hashview.
              .col-md-2.pull-right
                %a.btn.btn-primary.pull-right{:href => "/accounts/create"}
                  Add User
      %br
      %br
      .container
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th
                      %b Name
                    %th
                      %b Control
                %tbody
                  - if @users
                    - @users.each do |user|
                      %tr
                        %td #{user.username}
                        %td
                          %a.btn.btn-danger{:href => "/accounts/delete/#{user.id}"}
                            %i.glyphicon.glyphicon-trash{:title => 'Delete'}
