!!!
%html
  %body
    %p
    .span15
      %br
      .container
        .row
          .col-md-12
            .container
              .row
                .col-md-12
                  .page-header
                    %h1
                      Accounts
                .row
                  .col-md-10.pull-left
                    The following are a list of user accounts currnelty configured within Hashview.
                  .col-md-2.pull-right
                    %a.btn.btn-primary.pull-left{:href => "/accounts/create"}
                      Add a New User Account
        %br
        %br
      .container
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th
                      %b Name
                    %th
                      %b Control
                %tbody
                  - if @users
                    - @users.each do |user|
                      %tr
                        %td #{user.username}
                        %td
                          %a.btn.btn-danger{:href => "/accounts/delete/#{user.id}"}
                            %i.glyphicon.glyphicon-trash{:title => 'Delete'}

