!!!
%html
  %body
    .span15
      %br
      .container
        %h2 Edit my account
        %br
        .row
          .col-md-10
            %form{ class: 'form-horizontal', action: '/accounts/me', method: 'post' }
              .form-group
              .form-group
                %label.control-label.col-xs-2{for: ''} Reset password
                .col-md-6
                  %input{ type: 'password', class: 'form-control', name: 'password', id: 'password' }
              .form-group
                %label.control-label.col-xs-2{for: ''} Confirm Password
                .col-md-6
                  %input{ type: 'password', class: 'form-control', name: 'confirm', id: 'confirm' }
              .form-group
                %label.control-label.col-xs-2{for: ''} Email Address (optional)
                .col-md-6
                  %input{ type: 'textbox', class: 'form-control', name: 'email', id: 'email', value: "#{@user.email if @user}" }
              .form-group
                %label.control-label.col-xs-2{for: ''} MFA (Google Authenticator)
                .col-md-6
                  - if @user && @user.mfa
                    %input{ type: 'checkbox', class: 'form-control', name: 'mfa', id: 'mfa', checked: 'y' }
                  - else
                    %input{ type: 'checkbox', class: 'form-control', name: 'mfa', id: 'mfa' }
              - if @user && @user.mfa
                .form-group
                  %label.control-label.col-xs-2{ for: '' } QR Code
                  .col-md-6
                    %img{ src: @otp, :alt => "Google Authenticator QR Code" }
                    %link{ href: "#{@otp}", rel: 'stylesheet' }
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-primary{ type: 'submit' } Save
                  %input{ type: 'hidden', name: 'account_id', value: "#{params[:account_id].to_s}" }
