!!!
%html
  - @taskarray = Hash.new
  - @tasks.each do |task|
    - @taskarray[task.id] = task.name
  /https://jsfiddle.net/vigneshmoha/bbxMe/2/
  %body
    %p
    %script{:type => "text/javascript"}
      :plain
        function dateGenerate() {
        var date = new Date()
        var dateArray = #{@taskhashforjs};
        
        return dateArray;
        }
        // The Above function will create an array of five consecutive year from the the current year.
        function addSelect(divname) {
        var newDiv=document.createElement('div');
        var html = '<select name="tasks[]">', dates = dateGenerate(), i;
        for (var k in dates) {
          if (dates.hasOwnProperty(k)) {
            html += "<option value='"+k+"'>"+dates[k]+"</option>";
          }
        }
        html += '</select><p>';
        newDiv.innerHTML= html;
        document.getElementById(divname).appendChild(newDiv);
        }
    .span15 
      %br
      .container
        .row
          .col-md-12
            .container
              .row
                .col-md-12
                  .page-header
                    %h1
                      Assign tasks to your job.
                .row
                  .col-md-10.pull-left
                    Each task will be run once on the hash file selected. You can create new tasks by selecting 'tasks' in the upper right hand corner.
                %br
                .row
                  %form{:name => "jobs_form", :id => "jobs_form", :class => "form-horizontal", :action => "/jobs/assign_tasks", :method => "post"}
                    .form-group
                      %label.control-label.col-xs-2{:for => ""} Assigned Tasks
                      .col-xs-10
                        .dropdown#dropdown
                        %button.btn.btn-default#add{:type => "button", :onclick => "addSelect('dropdown');"} Add Task
                    .form-group
                      .col-xs-offset-2.col-xs-10
                        %input{:type => 'hidden', :name => 'jobid', :value => "#{params[:jobid].to_s}"}
                        %input{:type => 'hidden', :name => 'custid', :value => "#{params[:custid].to_s}"}
                        %input{:type => 'hidden', :name => 'hashid', :value => "#{params[:hashid].to_s}"}
                        %button.btn.btn-primary{:type => "submit"} Create
