!!!
%html
  %body
    .span15
      %br
      .container
        %h2 Global Settings
        %br
        .row
          .col-md-10
            %form{:class => "form-horizontal", :action => "/settings", :method => "post"}
              .form-group
                %label.control-label.col-xs-2{:for => ""} Hashcat Binary Path
                .col-xs-10
                  - if @settings and @settings.hcbinpath
                    %input{:type => "textbox", :class => "form-control", :name => "hcbinpath", :id => "hcbinpath", :value => @settings.hcbinpath}
                  - else
                    %input{:type => "textbox", :class => "form-control", :name => "hcbinpath", :id => "hcbinpath"}
                  Note: Make sure the user running hashview has the ability to read the hashcat root folder
              .form-group
                %label.control-label.col-xs-2{:for => ""} Max Task Runtime (seconds)
                .col-xs-10
                  - if @settings and ! @settings.maxtasktime.empty?
                    %input{:type => "textbox", :class => "form-control", :name => "maxtasktime", :id => "maxtasktime", :value => @settings.maxtasktime}
                  - else
                    %input{:type => "textbox", :class => "form-control", :name => "maxtasktime", :id => "maxtasktime", :value => "86400"}
                  Note: Default value is 86400 seconds (24 hours)
              .form-group
                %label.control-label.col-xs-2{:for => ""} SMTP Server
                .col-xs-10
                  - if @settings and ! @settings.smtp_server.empty?
                    %input{:type => 'textbox', :class => 'form-control', :name => 'smtp_server', :id => 'smtp_server', :value => @settings.smtp_server}
                  - else
                    %input{:type => 'textbox', :class => 'form-control', :name => 'smtp_server', :id => 'smtp_server', :placeholder => 'smtp.server.com:25'} 
              .form-group
                %label.control-label.col-xs-2{:for => ""} SMTP Username 
                .col-xs-10
                  - if @settings and ! @settings.smtp_user.empty?
                    %input{:type => 'textbox', :class => 'form-control', :name => 'smtp_user', :id => 'smtp_user', :value => @settings.smtp_user}
                  - else
                    %input{:type => 'textbox', :class => 'form-control', :name => 'smtp_user', :id => 'smtp_user'} 
              .form-group
                %label.control-label.col-xs-2{:for => ""} SMTP Password
                .col-xs-10
                  - if @settings and ! @settings.smtp_pass.empty?
                    %input{:type => 'password', :class => 'form-control', :name => 'smtp_pass', :id => 'smtp_pass', :placeholder => '- password set -'}
                  - else
                    %input{:type => 'password', :class => 'form-control', :name => 'smtp_pass', :id => 'smtp_pass'} 
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-primary{:type => "submit"} Save

        %h2 Global Actions
        %br
        .row
          .col-md-10
            .col-xs-offset-2.col-xs-10
              Only perform this function if you dont want Hashview to retroactively crack password hashes.
              %p
            %form{:class => "form-horizontal", :action => "/purge", :method => "GET"}
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-default{:type => "submit"} Purge Hashes
