!!! 5
%html{:lang => "en"}
  %head
    %script{:src => "/js/jquery-2.1.3.min.js"}
    %script{:src => "/js/bootstrap.js"}
    %meta{:charset => "utf-8"}/
    %title HashView - Password Cracking Management Console
    %meta{:content => "", :name => "All types of crack are welcome"}/
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/hashviewStyle.css", :rel => "stylesheet"}/

    :css
      .body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .padded {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 0px;
      }
        %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        %a.navbar-brand(href="/home")
          Hashview
        %button.navbar-toggle(data-toggle="collapse" data-target=".navHeaderCollapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .collapse.navbar-collapse.navHeaderCollapse
          %ul.nav.navbar-nav.navbar-right.vCenter
            %li
              - if isBusy?
                %span.label.label-danger Busy eating
              - else
                %span.label.label-success Feed me nom nom
            - if validSession?
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                  Controls
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a(href="/customers/list") Customers
                  %li
                    %a(href="/jobs/list") Jobs
                  %li
                    %a(href="/tasks/list") Tasks
                  %li.divider{:role => "separator"}
                  %li.dropdown-header
                    Additional Functions
                  - if isDevelopment?
                    %li
                      %a(href="/jobs/queue")Job Queue
                  %li
                    %a(href="/analytics")Analytics
                  %li
                    %a(href="/wordlists/list")Wordlists
                  %li
                    %a(href="/search")Search
                  %li
                    %a(href='/accounts/list')User Accounts
                  %li
                    %a(href="/settings")Global Settings
            %li
              - if validSession?
                %a(href="/logout")Logout
              - else
                %a(href="/login")Login
    - if @warnings != nil
      .container
        - @warnings.each do |warning|
          .alertfade.alert.alert-danger{:role => "alert"} #{warning}
      %script{:type => "text/javascript"}
        :plain
          window.setTimeout(function() {
            $(".alertfade").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove();
            });
          }, 4000);
    = yield
