!!!
%html
  %body
    .span15
      .container
        .row
          .page-header
            %h1
              Search by Hash
      .container
        .row
          .col-md-12
            %form{:action => "/search", :method => "post"}
              .form-group.col-xs-2
                %select.form-control{:name => "search_type"}
                  %option{:value => "username", :name => "search_type", :type => "button"} Username
                  %option{:value => "hash", :name => "search_type", :type => "button"} Hash
              .form-group.col-md-8
                %input{:type => "textbox", :class => "form-control", :name => "value", :id => "value", :placeholder => "Search for..."}
              .form-group.col-xs-2
                %button.btn.btn-primary{:type => "submit"} Search
