!!!
%html 
  %body
    %p    
      %br
      .container
        %h2
        %h2 Search by hash
        %br
        .row
          .col-md-10
            %form{:class => "form-horizontal", :action => "/search", :method => "post"}
              .form-group
                %label.control-label.col-xs-2{:for => ""} Hash:
                .col-xs-10
                  %input{:type => "textbox", :class => "form-control", :name => "hash", :id => "hash"}
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-primary{:type => "submit"} Search
        %br
        .row
          .col-md-10
            %div{:id => "data_grid1"}
              %table.table.table-striped
                %tr
                  %th Hash
                  %th Type
                  %th Plaintext
                %tr
                - if @plaintexts
                  - @plaintexts.each do |entry|
                    %td #{entry.originalhash}
                    %td #{mode_to_friendly(entry.hashtype.to_s)}
                    %td #{entry.plaintext}
                    %tr
                - else
                  %td "none found" 
                  %tr
