!!!
%html
  %body
    .span15
      .container
        .col-md-12
          .row
            .page-header
              %h1
                Wordlists
            .row
              .col-md-10.pull-left
                Wordlists are used in dictionary attacks. Upload your custom wordlists here.
              .col-md-2.pull-right
                %a.btn.btn-primary.pull-right{:href => "/wordlists/add"}
                  Upload Wordlist
      %br
      %br
      .container
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th
                      %b Name
                    %th
                      %b Size
                    %th
                      %b Action
                %tbody
                  - if @wordlists
                    - @wordlists.each do |wordlist|
                      %tr
                        %td #{wordlist.name}
                        %td #{wordlist.size}
                        %td
                          %a.btn.btn-danger{:href => "/wordlists/delete/#{wordlist.id}"}
                            %i.glyphicon.glyphicon-trash{:title => 'Delete'}
