production:
  adapter: mysql
  host: "localhost"
  port: 3306
  user: "root"
  password: "CHANGEME"
  database: "hashview"
  encoding: "utf8"

development:
  adapter: mysql
  host: "localhost"
  port: 3306
  user: "root"
  password: "CHANGEME"
  database: "hashview_dev"
  encoding: "utf8"

test:
  adapter: mysql
  host: "localhost"
  port: 3306
  user: "root"
  password: "CHANGEME"
  database: "hashview_test"
  encoding: "utf8"
